@{
    this.ViewData["Title"] = "About Page";
}

<div class="row">
    <div class="col-md-4">
        <figure><img src="dummy/figure.jpg" alt="figure image"></figure>
    </div>
    <div class="col-md-8">
        <p class="leading">This is a website where you can check all your favourite book/movie adaptations in an instant!</p>
        <p>You can add or list through all of the book/movie collections!</p>
    </div>
</div>